---
import ReaderLayout from "../../features/reader/layouts/ReaderLayout.astro";
import StrongDictionary from "../../features/strong/components/StrongDictionary";
---

<ReaderLayout>
  <div class="py-4">
    <StrongDictionary client:only="preact" />
  </div>
</ReaderLayout>
