---
import ReaderLayout from "../features/reader/layouts/ReaderLayout.astro";
import ReaderContent from "../features/reader/components/ReaderContent.astro";
import SettingsPanel from "../features/reader/components/SettingsPanel";
---

<ReaderLayout>
	<div class="reader-container">
		<SettingsPanel client:load />
		<ReaderContent />
	</div>
</ReaderLayout>
