---
import ReaderLayout from "../features/reader/layouts/ReaderLayout.astro";
import ReaderContent from "../features/reader/components/ReaderContent.astro";
import ReaderControls from "../features/reader/components/ReaderControls";
import booksIndex from "../data/books-index.json";

const books = booksIndex;
---

<ReaderLayout>
	<ReaderControls client:load books={books} />
	<div class="reader-container" style="padding-top: 4rem;">
		<!-- Added padding for navbar -->
		<ReaderContent />
	</div>
</ReaderLayout>
