---
import ReaderLayout from "../features/reader/layouts/ReaderLayout.astro";
import ReaderContent from "../features/reader/components/ReaderContent.astro";
import ReaderControls from "../features/reader/components/ReaderControls";
---

<ReaderLayout>
	<ReaderControls client:load />
	<div class="reader-container" style="padding-top: 4rem;">
		<!-- Added padding for navbar -->
		<ReaderContent />
	</div>
</ReaderLayout>
